.container-login101 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;   
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}
.container-login101::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.65);
} 
.borderless td, .borderless th {
   border: none;
}
.table td, .table th {
    padding: .15rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 20px;
}
.preview-label{
	padding-top:7px;
	margin-bottom: 0px;
	text-align: left;
	font-size:12px;
	margin-left:8px;
}
.body{
font-size:12px;
}

.label{
font-size:12px;
}
.table .tbody .tr .td{
padding:0px;
}
.form-horizontal .form-group {
    margin-right: -100px;
    margin-left: -100px;
}

.form-horizontal .control-label
{
padding-top:0px;
}
.input-group .form-control {
    width: 72%;
    font-size: 13px;
    height:25px;
    }
.input-group-addon{
    padding:3px 9px;
    }
.form-group{
margin-bottom:9px;
}
.control-label{
    font-size: 11px;
}    
.label{
    font-size: 11px;
}    
.form-horizontal .form-group {
    margin-right: -200px;
    margin-left: -105px;
}

