body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.button {
  background-color: dodgerblue;
  color: white;
/*   padding: 15px 20px; */
  border: none;
  cursor: pointer;
  width: 20%;
  height:10%;
/*   opacity: 0.9; */
}

.btn:hover {
  opacity: 1;
}

.center {
  margin: auto;
  width: 80%;
  padding: 20px;
}
